/*Zerando formatações padrões*/

* {
	margin: 0;
	padding: 0;
}

/*Formatações gerais*/

body {
	font-family: "Trebuchet MS", "Helvetica", sans-serif;
	background: #fff url(../imagens/bg.png);
	margin: 15px;
}

#container {
	background: #ede9cc;
}

#topo {
	position: relative;
	background: #dbcd87;
	height: 15.4em;
	min-height: 250px;
}

/*Formtações do cabeçalho*/

#area-logo {
	position: absolute;
	background: url(../imagens/topo-imagem-principal.png) no-repeat;
	width: 100%;
	height: 250px;
	top: 0px;
	left: 0px;
}

#area-menu {
	position: absolute;
	background: url(../imagens/topo-imagem-lateral.png) no-repeat;
	width: 450px;
	height: 250px;
	top: 0;
	right: 0;
}