/*Zerando formatações padrões*/

* {
	margin: 0;
	padding: 0;
}

/*Formatações gerais*/

body {
	font-family: "Trebuchet MS", "Helvetica", sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x;
}

/*Estrutura do site*/

#container {
	border: 1px solid red;
	width: 750px;
	margin: 0 auto;
}

/*Formatações do cabeçalho*/

#topo {
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat top right;
	padding-top: 25px;
}