/*Zerando formatações padrões*/

* {
	margin: 0;
	padding: 0;
}

/*Formatações gerais*/

body {
	background: #e4e4e4;
	font-size: 1em;
	font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

h2 {
	color: #f7b600;
}

h3 {
	background-color: #CCC;
	padding: 5px;
}

a:link, a:visited {
	color: #f7b600;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#cabecalho a:link, #cabecalho a:visited {
	color: #fff;
	padding: 8px 12px;
}

#cabecalho a:hover {
	color: #f7b600;
	background-color: #fff;
	text-decoration: none;
}

/*Formatações do cabecalho*/

#cabecalho {
	background-color: #f7b600;
	padding: 15px;
	text-align: center;
}

#logo, #menu {
	padding: 10px;
}

.branco {
	color: #fff;
}

/*Formatações do conteúdo*/

#conteudo {
	width: 920px;
	margin: 0px auto;
	padding: 15px;
}

#area-postagem {
	width: 660px;
	float: left;
}

#menu-lateral {
	width: 240px;
	float: right;
}

#rodape {
	clear: both;
	background-color: #CCC;
	text-align: center;
	padding: 20px;
}

.postagem {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px ridge #CCC;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: block;
}

.conteudo-lateral {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 20px;
}

.texto-lateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px ridge #CCC;
}

